.socials {
  padding: 1.5rem 0;
}

.socials ul li {
  display: inline-block;
}

.socials .ico-circle {
  height: 40px;
  width: 40px;
  font-size: 1.7rem;
  border-radius: 50%;
  line-height: 1.4;
  margin: 0 15px 0 0;
  background-color: #1751a7;
 color: #fff;
box-shadow: 0 5px 15px #193047;
 border-radius: 2rem;
}

/* entire hero section */
.containerHero{
  margin-left: 15rem;
}

/* portrait section  */
.distortion{
  position: relative;
  width: 600px;
  height: 575px;
  right: 10rem;
  bottom: 5rem;
}
.circle{
  height: 500px;
  width: 500px;
  background: #1e67d477;
  border:5px solid #0bd618;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  top: 6rem;
}


/* first name */
.intro .intro-title {
  color: rgb(0, 0, 0);
  font-weight: 600;
  font-size: 10rem!important;
  
}

/* last name */
.intro .lastName {
  color: rgb(99, 99, 99);
  font-weight: 600;
  font-size: 10rem!important;
  line-height: 0px;
}


/* title changer */
.containerHero h3{
  position: relative;
  top: 5rem;
  left: 2rem;
  letter-spacing: 1.40rem;
  line-height: 0px;
  color:#1e67d4;
  
}

.about-mf .box-shadow-full {
  padding-top: 4rem;
  padding-bottom: 4rem;
  overflow: hidden;
}

/* about title */
#about{

}

.about{
  position: relative;
 text-align: center;
 font-size: 100px;
 top: -50px;
}
.about-1 strong{
  font-size: 50px;
  font-weight: 600;
}
.about-1{
position: relative;
bottom: 4rem;
}
.about-2{
position: relative;
bottom: 2rem;
}
.btnlink {
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 15px;
  letter-spacing: 4px;
  position: relative;
  background-color: #1e67d4;
  border: none;
  color: #fff;
  padding: 10px;
  width: 200px;
  text-align: center;
  transition-duration: 0.4s;
  overflow: hidden;
  box-shadow: 0 5px 15px #193047;
  border-radius: 2rem;
  top: 30rem;
  
  z-index: 5;
  left: 9rem;

}

